<!DOCTYPE html>
<html>
<body>
    <form action="/201504Q2" method="POST">
        <h1>Compliant Form</h1>
        <table border="0">
            <tr>
                <td>
                    Your Name *:
                </td>
                <td>
                    <input type="text" name="name" />
                </td>
            </tr>
            <tr>
                <td>
                    Contact Request:
                </td>
                <td>
                    <input type="checkbox" name="contact" value="phone" checked /> By Phone
                    <input type="checkbox" name="contact" value="email" /> By Email
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <button></button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
